/*

[Custom Stylesheet]



*/

.xt{
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    }
    
    .xt:hover {
        color: #FFC55A;
}

.xxl{
   
    font-size: 120px;
    /* font-weight: bold;
    display: inline-block; */
    }


body {
    font-family: 'Space Mono', monospace;
    .space-mono-regular {
        font-family: "Space Mono", serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .space-mono-bold {
        font-family: "Space Mono", serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .space-mono-regular-italic {
        font-family: "Space Mono", serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .space-mono-bold-italic {
        font-family: "Space Mono", serif;
        font-weight: 700;
        font-style: italic;
      }
      
  }

  .cc{
    color: #002fff;
    
    }

.cc.hover{
        cursor: pointer;
    }
  